@import url(https://fonts.google.com/specimen/Michroma?preview.size=83);
body{
    font-family: "Michroma", sans-serif;
    color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(115, 141, 0), rgba(0, 0, 0, 0.737));
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    font-size:40px;
    margin-left: 190px;
}
.nav-buttons{
    display: flex;
    gap: 20px;
    margin-right: 190px;
}
.nav-btns{
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
    color: #ffffff;
    margin-left: 60px;

}
.nav-items li {
    margin: 0 50px;
    
}

.task-box{
    text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.learn-more{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.task-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    background-color: rgba(35, 35, 35, 0.8);
    
}
.task-section ul{
    list-style: none;
    padding: 0;
    align-items: left;
    margin: 20px;
    width: 50%;
    font-size: 20px;
    background: linear-gradient(to right, #394600, #000000);
    color: #ffffff;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}
.task-section ul li{
    padding: 10px;
    border-bottom: 1px solid #3e4600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    margin: 10px;
}
.todo_buttons{
    margin-right: 10px;
}
.status_button_done{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.status_button_remove{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.task-form{
    width: 50%;
    text-align: center;
    display: flex;
    min-height: 7vh;
    align-items: space-between;
}
.task-form input{
    margin-top: 5px;
    margin-right: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
}
.task-form button{
    width: 20%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #394600, #000000);
}
.task-form button:hover{
    background-color: rgb(0, 251, 255);
    color: rgb(0, 242, 255);
}
.sign-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    background-color: rgba(35, 35, 35, 0.8);
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0 0 0 ;
}
.sign-up-form input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.sign-up-form button{
    font-size: 20px;
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #384600, #000000);
}